.container{
  width: 80vw;
  height: 100vh;
  outline:  solid 1px black;
  display: block;
  justify-content: center;
  align-items: center;
}
.container-box{
  margin-top: 10px;
  height: 100vh;
}
.task-show{
  height: 60vh;
  outline: solid 1px black;

}
.task-complete{
  height: 35vh;
  outline: solid 1px black;
}

.pointer{
  cursor:pointer;
}
.trikethrough{
  text-decoration:line-through;
}
